.commentary2
  .comment2_main
    .comment2_main_h1
      会員数日本一
    .comment2_main_h2
      FURIMAは、プリマアプリで最も人気。
      %br
      出品・購入回数も業界他最多です！
      %br
      欲しかったあの商品に出会えるかもしれません。
    .comment2.main_icon
      .logoA
        = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", size: "170x66", alt: "app"
      .logoB
        = image_tag "Google_Play_Store_badge_EN.svg", size: "190x68", alt: "googlepray"