.commentary1
  .comment_main
    .comment_main_h1
      人生を変えるフリマアプリ
    .comment_main_h2
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .comment.main_icon
      .logoA
        = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", size: "170x66", alt: "app"
      .logoB
        = image_tag "Google_Play_Store_badge_EN.svg", size: "190x68", alt: "googlepray"