.invitation2
  .head
    FURIMAの特徴
  %ul.items
    %li.item<
      .item_pict
        = image_tag "icon-01.png"
      .item_text
        簡単に売り買いできる
      .item_description
        スマホでひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li.item<
      .item_pict
        = image_tag "icon-02.png"
      .item_text
        売上金は即日振込みに対応
      .item_description
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %li.item<
      .item_pict
        = image_tag "icon-03.png"
      .item_text
        様々な支払いに対応
      .item_description
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。