%body
  .header
    %a.header__botton{href=''}
      = image_tag.logo "material/logo/logo.png"
  .main
    .block
      .formGroup
        .formLabel
          %label
            出品画像
          %span.must-tag
            必須
        .subtitle
          最大１０枚までアップできます。
        .upload
    .block
      .fromGroup
        .formLabel
          %label
            商品名
          %span.must-tag
            必須
        .input-area
          %input
      .fromGroup
        .formLabel
          %label
            商品の説明
          %span.must-tag
            必須
        .text-area
          %textarea
      .item-info__footer
        %span 
        0
        "/"
        1000
    .block
      %p.title
        商品の詳細
      .formLabel
        %label
          商品名
        %span.must-tag
          必須
      .select
        .select__area

      .formGroup
        .title
        .category
        .title
        .brand
        .title
        .status
    .Block
      .formGroup
        .input-price
          .result-price
          .result-price
          .result-price
        .pushbottom
  .footer