* {
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
  font-size: inherit;
  line-height: inherit;
  box-sizing: inherit;
}
div {
  display: block;
}
section {
  display: block;
}
img {
  vertical-align: middle;
}
img[AttributesStyle] {
  width: 60px;
  height: 60px;
}
ul,
ol {
  list-style: none;
}
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation;
  -ms-touch-action: manipulation;
}
body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

ul {
  list-style: none;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

a {
  color: #0099c8;
  text-decoration: none;
  text-decoration: manipulation;
}

h3 {
  font-size: 22px;
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
img {
  vertical-align: middle;
}
h2 {
  font-size: 22px;
  line-height: 1.4;
}
.mypage-tabs li,
.btns li {
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.mypage-tabs a
.btns a {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
}
.mypage-tabs li.active,
.btns li.active {
  background: #fff;
}
.mypage-item-link time {
  display: inline-block;
  color: #888;
}
i[class^='icon-'], i[class*='icon-'] {
  display: inline-block;
  font-family: 'icon-font';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-time {
  font-size: 16px;
  vertical-align: middle;
}
.mypage-item-link time span {
  vertical-align: middle;
}
.icon-arrow-right {
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.mypgae-go-list li:last-child {
  border: 0px;
}
.mypage-item-list li {
  position: relative;
  border-bottom: 1px solid #eee;
}
.mypage-go-list {
  padding: 16px;
}
.mypage-go-list a {
  display: block;
  height: 56px;
  margin: 0 auto;
  background: #eee;
  color: #333;
  line-height: 56px;
  text-align: center;
}
.mypage-tabs li,
.listing-tabs li,
.review-history-tabs li
.btns li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.mypage-tabs li.active,
.btns li.action,
.listing-tabs li.active,
.review-history-tabs li.active {
  background: #fff;
}
.mypage-tabs li.active a,
.listing-tabs li.active a,
.btns li.action,
.review-history-tabs li.active a {
  border-top: 2px solid #ea352d;
}
.mypage-tabs li a,
.listing-tabs a,
.review-history-tabs a,
.btns li a {
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
}
.tab-content,
.tab-pane,
.active,
.action {
  display: block;
}
.mypage-item-list li:first-child {
  border-bottom: 1px solid #eee;
}
.mypage-item-list li.mypage-item-not-found {
  border: 0px;
}
.mypage-item-list li:first-child {
  border: 0px;
}
.mypage-item-list li {
  padding: relative;
  border-bottom: 1px solid #eee;
}
.mypage-item-not-found {
  padding: 160px 0 60px;
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 78px 85px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
}
.bold {
  font-weight: 600;
}
.mypage-item-list li,
.mypage-item-not-found {
  border: 0;
}
.mypage-item-not-found {
  padding: 160px 0 60px;
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 78px 85px;
  font-size: 16px;
  text-align: center;
  color: #ccc;
}

.mypage-user-icon>a {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #333;
}
.mypage-user-icon h2 {
  margin: 8px 0 0;
  font-size: 14px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.mypage-number {
  margin: 8px 0 0;
  font-size: 0;
}
.mypage-number div {
  display: inline-block;
  font-size: 14px;
}
.mypage-number span {
  margin: 0 0 0 8px;
  font-size: 16px;
}
.mypage-number div+div {
  margin: 0 0 0 16px;
}
.mypage-tabs,
.mypage-nav-number,
.listing-tabs.mypage-nav-number,
.review-history-tabs.mypage-nav-number,
.btns {
  top: 16px;
  right: 2px;
}
.mypage-nav-number {
  position: absolute;
  top: 50%;
  right: 32px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ea352d;
  text-align: center;
  line-height: 24px;
  color: #fff;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.tab-content,
.tab-pane {
  display: none;
}
.mypage-item-list img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}
.lazyload,
.lazyloading {
  opacity: 0;
}
.mypage-item-text {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  max-height: 4.4em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 1.5;
}
.mypage-item-body {
  margin: 0 40px 0 68px;
}
