$border-line: solid 1px #f5f5f5;
$color-light:#0099e8;

.single-container{
  background: #f5f5f5;
  min-width: 700px;
  font-size: 14px;
  color: #333;
  line-height: 1;
  img{
    width:initial;
  }
  .single-header{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  } 
  .main{
    background: #fff;
    margin: 0 auto;
    width: 700px;
    
    &__buy-header{
      font-size: 22px;
      padding: 32px;
      text-align: center;
      line-height: 1.5;
      border-bottom: $border-line;
      font-weight: bold;
    }&__buy-item{
      padding: 32px 16px;
      border-bottom: $border-line;
      text-align: center;
    }&__item-box{
      display: flex;
      align-items: center;
      width: 343px;
      margin: 0 auto;
    }&__item-image{
      width: 80px;
      height: 80px;
    }&__item-detail{
      margin-left: 16px;
    }
    .buy__name{
      font-size: 14px;
      margin: 0;
      padding: 0 0 8px;
      line-height: 1.5;
      text-align: left;
    }
    .buy__price{
      margin: 0;
      text-align: left;
      font-size: 12px;
      font-weight: bold;
    }
    .item-sipping-fee{
      font-size: 12px;
    }
    &__btm{
    width: 343px;
    margin: 0 auto;
    padding: 32px 0px;
    }&__price{
      width: 100%;
    }&__price-row{
      display: flex;
      justify-content:space-between;
      align-items: center;
      font-weight: bold;
    }&__price-cell-lavel{
      font-size: 18px;
      
    }&__price-cell{
      font-size: 26px;
    }&__point{
      margin: 24px 0 32px;
      color: #888;
    }&__user-info{
      padding: 32px 0;
      border-top: $border-line;
    }&__payment{
      font-size: 14px;
      font-weight: bold;
    }&__contents-top{
      text-decoration: none;
      color: $color-light;
      margin: 8px 0 0;
      display: block
    }&__user{
      padding: 32px 0;
      border-top: $border-line;
      border-bottom: $border-line;
    }&__flex{
      display: flex;
      justify-content: space-between;
    }&__left{
      font-weight: bold;
    }&__contents-btm{
      color: $color-light;
      text-decoration: none;
      text-align: right;
    }&__info{
      margin: 12px 0 0;
      font-size: 14px;
      line-height: 0.7;
    }&__btn{
      margin: 32px 0;
      background-color: #888;
      height: 50px;
      text-align: center;
      display: block;
      line-height: 50px;
    }
    button,.credit{
      background-color: #888;
      height: 50px;
      font-size: 18px;
      color: #fff;
      width: 100%;
      cursor:pointer
    }
    .credit{
      display: block;
    }
  }
  

  .footer1{
    width: 456px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
   
  &__nav{
    font-size: 12px;
    text-align: center;
  }&__terms{
    text-decoration: none;
    color: #333;
    margin: 0 15px;
  }&__logo{
    text-align: center;
    margin: 40px auto 0;
  }&__copyright{
    text-align: center;
    font-size: 13px;
    margin: 8px 0 0;
  }
}
}