// Place all the styles related to the mypage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./mypageimport";

.contents {
  height: 100%;
  width: 100%;
}

.content {
  padding: 0 0 40px;
  margin: 24px auto 0;
  display: block;
  .hcontent {
    width: 100%;
    .mypage-user-icon {
      position: relative;
      height: 155px;
      padding: 20px;

    }
    .mypage-tab-container-notification-todo {
      margin: 0px;
      background: #fff;
      .mypage-tabs {
        border: 0px;
        background: #eee;
        font-size: 0px;
      }
      .tab-content {
        .mypage-item-list li:first-child {
          border-bottom: 1px solid #eee;
        }
        .mypage-item-list li {
          position: relative;
          .mypage-item-link {
            display: block;
            min-height: 80px;
            padding: 16px;
            color: #333;
            
          }
          .mypage-item-link figure {
            position: relative;
            overflow: hidden;
            float: left;
            width: 48px;
            height: 48px;

            .lazyloaded {
              opacity: 1;
              -webkit-transition: opacity .3s;
              transition: opacity .3s;
            }

          }
          .mypage-item-list img {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: 1;
            width: 100%;
          }
          .mypage-item-body {
            margin: 0 40px 0 68px;
            .mypage-item-text {
              // overflow: hidden;
              display: block;
              display: -weblit-box;
              max-height: 4.4em;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              line-height: 1.5px;
              .mypage-item-link time {
                display: inline-block;
                color: #888;
              }
              .mypage-item-list.icon-time {
                margin: 0 8px 0 0;
              }
            }
          }
        }
      }
      .tab-content.tab-pane.active {
        display: block;
      }
      .tab-content.tab-pane {
        display: none;
      }
    }
    .mypage-tab-container {
      margin: 40px 0 0;
      background: #fff;
      .mypage-tab-head {
        padding: 0 4%;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
        @media screen and (min-width: 768px){
          padding: 0 16px;
        }
      }
      .mypage-tabs {
        border: 0px;
        background: #eee;
        font-size: 0px;
      }
      .mypage-tabs li {
        width: 50%;
      }
    }
  }
}