.contents{
  padding-top: 50px;
  padding-bottom: 50px;
  .itemContainer{
    text-align: center;
    background-color: #fff;
    width: 50%;
    min-width: 900px;
    margin: 0 auto;
    padding: 50px 60px;
    .itemName{
      margin-bottom: 50px;
      font-size: 50px;
    }
    .itemMainContent{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 50px;
      width: 100%;
      &__image{
        border: solid 1px black;
        vertical-align: middle;
        margin-right: 30px;
        padding-top: 70px;
        .detailImage{
          width: 300px;
        }
      }
      &__info{
        .infoTable{
          width: 100%;
          min-width: 500px;
          table{
            min-height: 500px;
            tr{
              th{
                border: solid 1px #d3d3d3;
                width: 40%;
                padding: 5px 10px;
                background-color: #f5f5f5;
              }
              td{
                border: solid 1px #d3d3d3;
                background-color: #fff;
                width: 60%;
                padding: 5px 10px;
              }
            }
            .seller{
              height: 20%;
            }
            .category{
              height: 20%;
              text-align: left; 
              &__position{
                margin-left: 15px;



              }
            }
  
  
          }
        }
      }
  
    
    }
    .price{
      margin-bottom: 30px;
      font-size: 50px;
    
    }
    .taxPostageIncluded{
      font-size: 20px;
    }
    .buyBtn{
      background-color: #ea352d;
      color: #fff;
      font-size: 25px;
      padding: 2% 15%;
    }
    .description{
      margin-top: 30px;
      text-align: left;
      font-size: 30px;
    }
  }
}



.arrow{
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

.arrow::before{
  content: '';
  width: 6px;
  height: 6px;
  border: 0px;
  border-top: solid 2px black;
  border-right: solid 2px black;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
}
